data_ts_DBS_CoCoMac_0.0025-0.05_Cleaned_Camilo_version.mat
data_ts_Anesthesia_Cleaned.mat
cohen_df_ketamine.csv
cohen_df_moderate_propofol.csv
cohen_df_deep_propofol.csv
cohen_df_ts_selv2.csv
cohen_df_ts_selv4.csv
weighted_sum_df.csv
cmha_data/cmha-1.0.0.zip
cmha_data/cmha-1.0.0/LICENSE.rst
cmha_data/cmha-1.0.0/MHA_backend.py
cmha_data/cmha-1.0.0/MHA_bestk.py
cmha_data/cmha-1.0.0/MHA_fit.py
cmha_data/cmha-1.0.0/MHA_preds.py
cmha_data/cmha-1.0.0/MHA_stats.py
cmha_data/cmha-1.0.0/MHA.py
cmha_data/cmha-1.0.0/plotting.py
cmha_data/cmha-1.0.0/data/anat.nii.gz
cmha_data/cmha-1.0.0/data/participants.tsv
cmha_data/cmha-1.0.0/data/CIVMR/atlas.nii.gz
cmha_data/cmha-1.0.0/data/CIVMR/timeseries.npy
cmha_data/cmha-1.0.0/data/CoCoMac/atlas.nii.gz
cmha_data/cmha-1.0.0/data/CoCoMac/labels.tsv
cmha_data/cmha-1.0.0/data/CoCoMac/timeseries.npy
cmha_data/cmha-1.0.0/data/DictLearn/atlas.nii.gz
cmha_data/cmha-1.0.0/data/DictLearn/timeseries.npy
cmha_data/cmha-1.0.0/figures/generate_figure2.py
cmha_data/cmha-1.0.0/figures/generate_figure3.py
cmha_data/cmha-1.0.0/figures/generate_figure4.py
cmha_data/cmha-1.0.0/figures/generate_figure5.py
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_back.json
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_back.png
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_back.pnm
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_back.svg
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_front.json
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_front.png
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_front.pnm
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_front.svg
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_side.json
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_side.png
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_side.pnm
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_side.svg
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_top.json
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_top.png
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_top.pnm
cmha_data/cmha-1.0.0/glass_brain_files/brain_schematics_top.svg
cmha_data/cmha-1.0.0/tables/generate_table1.py
cmha_data/cmha-1.0.0/tables/generate_table2.py
cmha_data/cmha-1.0.0/utils.py
cmha_data/cmha-1.0.0/README.md
