data_ts_DBS_CoCoMac_0.0025-0.05_Cleaned_Camilo_version.mat
data_ts_Anesthesia_Cleaned.mat
cohen_df_ketamine.csv
cohen_df_moderate_propofol.csv
cohen_df_deep_propofol.csv
cohen_df_ts_selv2.csv
cohen_df_ts_selv4.csv
weighted_sum_df.csv
